/* Define custom font */
@font-face {
  font-family: 'Digital-7';
  src: url('digital-7.ttf');
}

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  color: white;
}

/* Image grid container */
#image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

/* Individual images */
.image-container {
  position: relative;
}

.image {
  flex-basis: 33.33%;
  height: 100%;
  background-position: center;
  background-size: cover;
  filter: brightness(100%);
  transition: filter 0.3s ease-in-out;
}

.image:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.333;
}

/* Night mode styles */
.night-mode .image:nth-child(1) {
  background-image: url('images/amsterdamnight.jpg');
}

.night-mode .image:nth-child(2) {
  background-image: url('images/brusselsnight.jpg');
}

.night-mode .image:nth-child(3) {
  background-image: url('images/parisnight.jpg');
}

/* Countdown timer */
#countdown {
  font-family: 'Digital-7';
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/* Night mode button */
#night-mode-button {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  outline: none;
  color: white;
}

#night-mode-button:hover .material-symbols-outlined {
  color: dodgerblue;
  transition: color 0.2s ease-in-out;
}

/* City name overlays */
.city-name {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 36px;
  color: white;
}

.image:hover .city-name {
  opacity: 1;
}

.image:hover .city-name::after {
  opacity: 0;
}

/* Image sources */
.image:nth-child(1) {
  background-image: url('images/amsterdamday.jpg');
}

.image:nth-child(2) {
  background-image: url('images/brusselsday.jpg');
}

.image:nth-child(3) {
  background-image: url('images/parisday.jpg');
}